<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Openings</title>
  {% include 'bootstrap.html' %}
  {% include 'navbar.html' %}
</head>
<body>
  <div class="container">
    <h1>Job Openings</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde, cumque nemo, voluptate dolorem recusandae ex cupiditate amet beatae enim perspiciatis accusantium, eveniet in.
    </p>
  </div>
</html>