<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joseph Home</title>
  {% include 'bootstrap.html' %}
  <style>
    .primary{
      background: blue;
    }
  </style>
</head>
<body class="text-center">
  <div class="container primary mt-4 pt-4 pb-4">    
    <h1>St.Joseph Nursery and Primary school, Home</h1>
    <p class="lead">Welcome to St.Joseph's Home Page</p>
  </div>
  <br>
  <div class="container">
    <h3>About St.Joseph, Awka</h3>
    <p>St.Joseph is a catholic school located at Amawbia, Anambra State, Nigeria.</p>    
  </div>
</body>
</html>