<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joseph Home</title>
  {% include 'bootstrap.html' %}
  {% include 'navbar.html' %}
  <style>
    .primary{
      background: blue;
    }
  </style>
</head>
<body class="text-center">
  <div class="container primary mt-4 pt-4 pb-4">    
    <h1>St.Joseph Nursery and Primary school</h1>
    <p class="lead">Welcome to St.Joseph's Home Page</p>
  </div>
  <br>
  <div class="container">
    <h3>About St.Joseph, Amawbia</h3>
    <p>St.Joseph is a catholic school located at Amawbia, Anambra State, Nigeria.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde, cumque nemo, voluptate dolorem recusandae ex cupiditate amet beatae enim perspiciatis accusantium, eveniet in. Eum aliquam commodi non quam voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde, cumque nemo, voluptate dolorem recusandae ex cupiditate amet beatae enim perspiciatis accusantium, eveniet in. Eum aliquam commodi non quam voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde, cumque nemo, voluptate dolorem recusandae ex cupiditate amet beatae enim perspiciatis accusantium, eveniet in. Eum aliquam commodi non quam voluptatem?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde, cumque nemo, voluptate dolorem recusandae ex cupiditate amet beatae enim perspiciatis accusantium, eveniet in. Eum aliquam commodi non quam voluptatem?
    </p>    
  </div>
  <br>
  {% include 'events.html' %}
  </div>
</body>
</html>